<h2>Contact</h2>
<p>Have questions?</p>
<p>Ready to talk turkey about some special projects?</p>
<p>Either way, we'd love to chat with you!</p>
<h3>Contact us by </h3>
<p style="margin-left: 2em"><strong>Phone</strong>: 269-555-5555<br>
<strong>Email</strong>: qlgs@gmail.com</p>
<p><strong>Or visit us at</strong></p>
<p style="margin-left: 2em">111 W. Douglas<br>
Niles, MI 49120</p>

<p>We'll put on a pot of coffee for you!</p>
