<p>We'd love to have you visit <a "href=/about">our store in Niles, Michigan</a>, but if you can't, check out our online offerings:</p>
<img src ="http://www.personalizationmall.com/cat_image/300/4489-14989.jpg" alt="personalized doormat" align="right" style = "margin-right= 12em">
<p>Our special for this month is our personalized doormat. With a lovely floral monogram, this mat will serve you well for many years. </p>
<p>Maintain a regal welcome with minimal care. Our exclusive hand-hooked Fitzgerald Entry Mat boasts the rich colors and crisp design of an indoor rug, yet is crafted to beautifully weather whatever Mother Nature brings to the door.</p>
<p>And at $27.95, <strong>it's a steal!</strong></p>
<hr>
<p><strong>And check us out on LinkedIn and Twitter!</strong></p>
<div style="margin-left: 7em"><a href="https://www.linkedin.com/pub/kate-russell/a9/61b/157">
      
          <img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_viewmy_160x33.png" width="160" height="33" border="0" alt="View Kate Russell's profile on LinkedIn">
        
    </a></div>
<div style="margin-left: 7em"><a class="twitter-timeline" href="https://twitter.com/krussellnd" data-widget-id="632681023344480256">Tweets by @krussellnd</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></div>