<h1>We'd love to have you visit <a "href=/about">our store in Niles, Michigan</a>, but if you can't, check out our online offerings:</h1>
<p>Our special for this month is our personalized doormat. With a lovely floral monogram, this mat will serve you well for many years. And at $27.95, it's a steal</p>
<img src ="http://www.personalizationmall.com/cat_image/300/4489-14989.jpg" align: center</p>