<p>We'd love to have you visit <a "href=/about">our store in Niles, Michigan</a>, but if you can't, check out our online offerings:</p>
<p>Our special for this month is our personalized doormat. With a lovely floral monogram, this mat will serve you well for many years. And at $27.95, <strong>it's a steal!</strong></p>
<br>
<img align: center; src ="http://www.personalizationmall.com/cat_image/300/4489-14989.jpg"</p>