<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Quality Graphics, <%= @user.name %></h1>
    <p>
      You have successfully signed up to Quality Graphics,
      your username is your email address.
    </p>
    <p>
      To log in to the site, just follow this link: <%= @https://fathomless-headland-2677.herokuapp.com/users/sign_in %>.
    </p>
    <p>Thanks for joining! We look forward to helping you with those special items!</p>
  </body>
</html>