// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
	font-family: ‘Trebuchet MS’, Helvetica, sans-serif;
	font-size: 1.2em;
}
p {
	font-size: 20px;
}
.row {
	background-color: lightgray;
	font-size: 1.2em;
}
body {
	margin: 10%;
	background-color: D3D3D3;
}
.navbar li {
	padding: 1em 1em 1em 0;
}
.navbar-fixed-top {
	background-color: transparent;
	border: none;
}
