<% if signed_in? %>
  <h4> Add a review</h4>
  <%= form_for([@product, @product.comments.build]) do |f| %>
      <div class="form-group">
        <%= f.label :body, "Comments" %><br>
        <%= f.text_area :body %>
      </div>
<!--      <div class="form-group"> -->
        <div class="rating"></div>

 
        <%= f.submit  "Submit",class: "btn btn-default" %>

      </div>
    <% end %>
<% end %> 
<div class="g-recaptcha" data-sitekey="6LePQwsTAAAAAB_SQRhDXZSmSQcxXeuCHvIa7Wzf"></div>