<div class="container">
  <div class="row">
    <div class="md-col-8 xs-col-10 col-centered">
			<h1>Editing Product</h1>

			<%= render 'form' %>

			<%= link_to 'Show', @product %> |
			<%= link_to 'Back', products_path %>
		</div>
  </div>
</div>