
<div class="container product">

<p id="notice"><%= notice %></p>

<h1>Listing Products</h1>
  <div class="row">
      <table>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Image url</th>
            <th>Colour</th>
            <th>Price</th>
          </tr>

          <% @products .each do |product| %>
          <tr>
          <% render @products %>
          </tr>
          <% end %>
       </tbody>
      </table>

      <br>

      <%= link_to 'New Product', new_product_path %>
      </div>
    </div>
  </div>

