<div class="container product">

<p id="notice"><%= notice %></p>

<h1 class="text-ctr">Listing Products</h1>
  <div class="row">
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Image url</th>
            <th>Colour</th>
            <th>Price</th>
                        <th colspan="3"></th>
          </tr>
        </thead>
      <tbody id="products">
    <% @products.each do |product| %>
      <% cache (product) do %>
       <%=render partial: "product", locals:{product:product} %>
      <% end %>
    <% end %>
   </tbody>
  <% end %>
 </table>
</div>

<br>

<%= link_to 'New Product', new_product_path %>