<div class="container product">

<p id="notice"><%= notice %></p>

<h1 class="text-ctr">Listing Products</h1>
  <div class="row">
    <div class="">
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Image url</th>
            <th colspan="3"></th>
          </tr>
        </thead>
  <% cache do %> 
      <tbody id="products">
        <% @products.each do |product| %>
          <% cache (product) do %>
            <%=render partial: "product", locals:{product:product} %>
            <% end %>
          <% end %>
        <% end %>
      </tbody>
    <% end %>     
      </table>

      <br>
      </div>
    </div>

      <%= link_to 'New Product', new_product_path %>

 </div>



