<div class="container">
  <div class="row">
    <div class="md-col-8 xs-col-10 col-centered">
    	<h1>New Product</h1>
			<%= render 'form' %>

			<%= link_to 'Back', products_path %>
		</div>
  </div>
</div>